@{
    ViewData["title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="container container-login">

    <div class="row">
        <div class="col-12">
            <img src="/img/logo.png" />
            <h3>Fire Monitor for Firebird</h3>
        </div>
    </div>

</div>
<br />
<br />

    <div class="row">

        <div class="col-4"></div>

        <div class="col-4">

            <form method="post">

                <input type="text" name="host" placeholder="Host" required />

                <input type="text" name="path" placeholder="Path" required />

                <input type="text" name="user" placeholder="User" required />

                <input type="password" name="password" placeholder="Password" required />

                <input type="submit" value="Monitoring" />

            </form>

            @if(ViewBag.response != null)
            {
               <center>
                   <b>
                       <p>
                           @ViewBag.response
                       </p>
                   </b>
                  
               </center>
            }

        </div>


        <div class="col-4"></div>

    </div>

 

 

